@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Front End</h1>
    <h1>Talleres en clase</h1>
    <p> <a >FrontEnd-UCompensar</a>.</p>
</div>
<h2>Tres cajas iguales</h2>
<hr />
<div class="container-fluid">
    <h5>33.33% x 33.33% x 33.33%</h5>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightcoral">Lorem Ipsum</div>
        <div class="col-sm-4" style="background-color:aqua">Lorem Ipsum</div>
        <div class="col-sm-4" style="background-color:lightcyan">Lorem Ipsum</div>
    </div>
</div>
<br />
<h2>Tres cajas desiguales</h2>
<hr />
<div class="container-fluid">
    <h5> 30% x 55% x 15%</h5>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgreen">sm-4</div>
        <div class="col-sm-7" style="background-color:lightyellow">sm-7</div>
        <div class="col-sm-1" style="background-color:lightpink">sm-1</div>
   </div>
</div>
<br />
<h2>Dos cajas desiguales</h2>
<hr />
<div class="container-fluid">
    <h5>40% x 60%</h5>
    <div class="row">
        <div class="col-sm-5" style="background-color:lightgoldenrodyellow">sm-5</div>
        <div class="col-sm-7" style="background-color:lightsteelblue">sm-7</div>
    </div>
</div>
<br />
<h2>Dos cajas desiguales</h2>
<hr />
<div class="container-fluid">
    <h5>70% x 30% y 30% x 30% x 30%</h5>
    <div class="row">
        <div class="col-sm-8" style="background-color:mediumpurple">sm-8</div>
        <div class="col-sm-4" style="background-color:mediumturquoise">sm-4</div>
        <div class="col-sm-4" style="background-color:mediumseagreen">sm-4</div>
        <div class="col-sm-4" style="background-color:lightblue">sm-4</div>
        <div class="col-sm-4" style="background-color:mediumturquoise"></div>
    </div>
</div>